#records img {
				border-radius: 5px;
				cursor: pointer;
				transition: 1s;

			}

			#records img:hover {border-color: white;}

			/* the modal (background) */
			.screen {
				display: none; /* hide */
				position: fixed;
				z-index: 1; /* on top */
				padding-top: 100px; /* location of the box */
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto; /* scroll if need */
				background-color: rgb(0,0,0);
				background-color: rgba(0,0,0,0.9); /* opacity */
			}

			/* modal img */
			.enlargeImg {
				margin: auto;
				display: block;
				width: 100%;
				max-width: 400px;
			}

			/*img info */
			#info, #heading {
				margin: auto;
				display: block;
				width: 80%;
				max-width: 400px;
				text-align: center;
				color: white;
				padding: 25px 0;
				font-size:16px;
				
			}

			/* Add Animation */
			.enlargeImg, #info, #heading {
				-webkit-animation-name: zoom;
				-webkit-animation-duration: 0.6s;
				animation-name: zoom;
				animation-duration: 0.6s;
			}

			@-webkit-keyframes zoom {
				from {-webkit-transform:scale(0)}
				to {-webkit-transform:scale(1)}
			}

			@keyframes zoom {
				from {transform:scale(0)}
				to {transform:scale(1)}
			}


			.close {
				position: absolute;
				top: 15px;
				right: 35px;
				color: #f1f1f1;
				font-size: 40px;
				font-weight: bold;
				transition: 0.3s;
			}

			.close:hover,
			.close:focus {
				color: #bbb;
				text-decoration: none;
				cursor: pointer;
			}

			/* 100% Image Width on Smaller Screens */
			@media only screen and (max-width: 100px){
				.enlargeImg {
					width: 50%;
				}
			}