/*CSS Reset for every browser render*/
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
    }

body{
	background-color: #b2fffd;
	color:white;	
	background: url("images/background3.jpg") no-repeat;
	background-size: cover;
	font-family: "Copperplate Gothic", "Papyrus", "Times New Roman", serif;
	
	
}

#content{
	
	
	max-width: 100em;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.04);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	overflow: auto;
	height: 90vh;
	
}

h1{
	padding: 0.5em;
	text-shadow: 2px 2px 3px #ffd64c;
	font-size:2.5em;
	background-color: rgba(0,0,0,0.2);
	margin: 0;

}
span{
	font-size: 50%;

}

#timeSystem{
	float: right;
	position: relative;
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	text-shadow: 1px 1px 3px black;
	padding: 1em;
	margin:0 auto;
	
	display: inline;
	

	width: 10%;
}

#timer{
	display: table;
	max-width: 100%;
	text-align: center;
}

#scoreSystem{

	
	position: relative;
	bottom: -5%;
	font-size: 24px;
}

#hourglass{
	max-width: 4em;

	width: 100%;
}

.record{
	max-width: 200px;
	max-height:150px;
	margin: 1em;
	border:8px solid #efdc07;
	height: 150px;
	width:200px;
	position: relative;
	display: inline-block;

}


#records{
	float: center;
	display: block;
	max-width: 80em;
	width: 80%;

	border-right: 5px ridge white;
	padding-right: 10px;
	padding-left:10px;
	text-align:center;

}

#instructions{
	margin-top: 2em;
	font-size:1.2em;
}

p, h2{
	padding: 1em;
	max-width: 60em;
	margin: 0 auto;
	text-shadow: 1px 1px 2px black;
}

.Links{
	color: white;
	font-size: 16px;
	float: right;
	margin: 1em;
	text-shadow: 2px 2px 4px limegreen;

}

.Links:hover{
	text-shadow: 1px 1px 4px #ffd64c;
	text-decoration: none;
}

.buttonLinks{
	margin: 2em;
	padding: 1em;
	text-align: center;

	color: white;
	font-size: 16px;
	text-shadow: 2px 2px 4px black;
	text-decoration: none;
	background-color: black;
	/*overflow: auto;**/
	background: linear-gradient(rgba(0,0,0,0.5),rgba(100,255,100,1),rgba(100,255,100,1),rgba(0,0,0,0.5));
	border-radius: 20px;
	box-shadow: 2px 2px 4px black;

	
}

.buttonLinks:hover{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(239,230,7,1),rgba(239,230,7,1), rgba(239,230,7,1),rgba(0,0,0,0.5));
}

.buttonLinks:active{
	box-shadow: 1px 1px 4px black;
	}

#buttons{
	text-align: center;
	margin: 2em;
}


#Summary{
	padding: 1em;
	max-width: 60em;
	margin: 0;
	text-shadow: 1px 1px 2px black;
	display: none;
	visibility: hidden;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
}

#Summary >p{
	float: left;
	position: relative;
}
#EndPoints, #EndTime, #Total{
	float: none;
	display: inline;
	text-align: right;

}

#scoreData, #timeData{
	visibility: hidden;
	position: absolute;
}

#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: white url(images/Double_Ring.gif) no-repeat center center;
	transition: all 0.3s ease;
}

body.loaded #loading {
	visibility: hidden;
	opacity: 0;
}

form{
	visibility: hidden;
	display: none;
}

footer{
	position: fixed;
	bottom: 0;
}